.flex {display: flex;}
{border: 1px solid red;}

@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&family=Inter&family=Karla&display=swap');
* {
font-family: 'Be Vietnam Pro', sans-serif;
}

body {margin: 0px;
padding: 0px;
width: 1440px;
}



/* --------------------header----------- */ 
.contenedor-header {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 10vh; 

}

.hamburguesa {display: none;}
.contenedor-header img {
  height: 70%;
  margin: 50px;
  }

/* --------dentro de header el nav---------- */ 
  
.logo-azul {
  width: 140px;
  height: 25px;
  left: 199px;
  top: 74.5px;
  }

.lista {
  
  
  justify-content: center;
  margin: 20 20px; 
  color: #242E52; 
  text-decoration: none;
  font-size: 1rem;
  align-items: center;
  
}

.lista a {text-decoration-line: none;
  padding-left: 15px;
}

.button1 {

flex-direction: row;
justify-content: center;
align-items: flex-end;
padding: 10px;
width: 140px;
height: 44px;
background: #8B48BF;
box-shadow: 0px 4px 7px rgb(248, 246, 246);
border-radius: 50px;
border: none;
color: #FFFFFF;
}

/* ---------------Toda la caja donde esta el jugador amarillo grande -----------------------------------*/ 
.cajajugador{
 
  width: 100%;
    margin: 0px;
    padding-top: 130px;
 }

.amarillo {
  
flex-direction: column;
align-items: flex-end;
width: 40%;
border: #242E53;
padding-right: px;
}


.jugador-amarillo {
width: 100%;
padding-left: 90px;
}

#foto {
  display: flex;
  width: 60%;
  height: auto;
}

.h1amarillo { 
  font-family: 'Be Vietnam';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 114.6%;     
  text-align: right;
  letter-spacing: -0.035em;  
  color: #232C50; }

.pamarillo {width: 450px;
    height: 71px;    
    font-family: 'Be Vietnam';
    font-style: normal;
    font-weight: 500;
    font-size: 16.5584px;
    line-height: 157.1%;     
    display: flex;
    align-items: center;
    text-align: right;    
    color: #000000;}

    .buttonmob {

      flex-direction: row;
      justify-content: center;
      align-items: flex-end;
      padding: 10px;
      width: 140px;
      height: 44px;
      background: #8B48BF;
      box-shadow: 0px 4px 7px rgb(248, 246, 246);
      border-radius: 50px;
      border: none;
      color: #FFFFFF;
      }
    

/* ---------------------------parte de whats ----------------------------------------------------------------------*/ 
.whats {
  width: 100%;
  flex-direction: row;
  align-items: center;
  padding: 40px 0px; 
  background: #8B48BF;
  margin-top: 40px;
  margin-bottom: 40px;

}

.h3whats {
  justify-content: center;
  align-items: center;
  font-size: 36px;
  color: #FFFFFF;
  width: 70%;
  padding-left: 100px;
  padding-right: 10px;
}

.pwhats {
  font-size: 16px;
  color: #FFFFFF;
  align-items: flex-end;
  width: 60%;
  padding-left: 150px;
  padding-right: 150px;
}


  /*--------------------------------- botones 01 02 03 ----------------------------------------------------*/ 

.id {}

.section1 {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 150px;
  padding-right: 150px;
  align-self:center;
}
.section2 {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 435px;
  padding-right: 435px;
  align-self: center;
}

.jjj {
  width: 90%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 50px 0px 0px 50px;
  padding-left: 20px;
}

 .numero {
  display: flex; 
  justify-content: center;
  align-items: center;   
    width: 69px;
  height: 50px;
  background: #8B48BF;  
  border-radius: 50px;
  color: #fffffF;
  border: none; 
  font-size: 13px;

   }
  
  .pdescripcion { 
    top: 160px;
    padding-left: 90px;
    padding-right: 16px;
    color: #B9B9C1;
   }

   .articlecard {
    flex-direction: column;
   }
   


    /*--------------------   card de jugadores                           ------------------*/ 

    .h2card {
      padding-top: 100px;
      font-family: 'Be Vietnam';
      font-style: normal;
      font-weight: 700;
      font-size: 39.2143px;
      line-height: 156.6%;
      align-items: center;
      text-align: center;
      color: #242E53;

      }

.posiciondecar {position: static;}

.img {
  border-radius: 100px;
position: relative;
top: -10px;
 }

.divcard {
    text-align: center;
    font-family: 'Be Vietnam';
    font-style: normal;
    font-weight: 700;
    font-size: 16.0714px;
    line-height: 156.6%;
    color: #3F4868;
    margin: 10px 10px;}


.cadajugador {
 margin: 20px; 
 text-align: center;
}
.cadajugador2 {
  margin: 20px; 
  text-align: center;
 }


.pclascard {
  color: #B9B9C1;
  font-family: 'Be Vietnam';
  font-style: normal;
  text-align: center;
  padding-left: 42px;
  padding-right: 42px;
}

.spancard {
font-family: 'Be Vietnam';
font-style: normal;
font-weight: 700;
font-size: 16.0714px;
line-height: 156.6%;
color: #3F4868;
margin: 10px 10px;
}

.button2 {  
  padding: 10px;
  width: 150px;
  height: 44px;
  background: rgba(139, 72, 191, 0.7);
  box-shadow: 0px 4px 7px rgb(248, 246, 246);
  border-radius: 50px;
  color: #FFFFFF;
  border: none;
   }
   
.divbutton {
  justify-content: center; 
  padding-top: 50px;
  padding-bottom: 100px;
   }


   /*--------------------   violeta antes de footer        ------------------*/ 

   .divfoot {
    align-items: center;
   justify-content: space-around;
    width: 100%;  
    padding-left: ;   
    padding: 40px 0px; 
    background: #8B48BF;
    margin-top: 10px;
   
  }

  .h2foot {  
   align-items: center;
   font-size: 36px;
   color: #FFFFFF;
   width: 30%;
   padding-left: 100px;
   padding-right: 0px;
    }

.buttonfoot {     
  padding: 10px;
  width: 134px;
  height: 44px;
  background: #ffffff;  
  border-radius: 50px;
  color: #8B48BF;
  }



  
/*--------------------   footer        ------------------*/ 

.footer {
  background: #1E1E26;
  justify-content: space-between;
  align-items: center;
  padding-left: 150px;
  padding-right: 150px;
}

.a {text-decoration: none;
color: #ffffff;
font-size: 16px;
padding-top: 7px;
padding-bottom: 7px;
}



.logo {  
  text-align: center;
  }

.logofooter {align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 30px;
}



.redes {flex-direction: center;
  
  padding-top: 80px;
  padding-bottom: 50px;  
  list-style-type: none;
  padding-left: 100px ;
  padding-right: 100px;
}
  


.redes3 {
  padding-left: 5px;
  padding-right: 5px;  
}


.buttonfooter {   
 
  width: 60px;
  height: 44px;
  background: #8B48BF;  
  border-radius: 50px;
  color: #fffffF;
  border-color: #8B48BF;
  color: #ffffff;
  font-size: 13px;  
}


.placeholder { padding: 10px; 
  font-size: 13.18px;
  border-radius: 50px;
  
}


.section1 {display: flex;}

.saparado {padding-left: 10;}

.input { justify-content: flex-end; 
  border-radius: 50px;
  width: 201px;
  height: 30px;}

.copy {
  width: 100%;
  background: #1E1E26; 
  padding-bottom: 30px;
  justify-content: end;  
  color: #8C8C94;
  font-size: 12.5;}
  
  .copy2  {padding-right: 100px;

  }
 
  

.input {

}
/*-------------------mobile---------------*/

@media (max-width: 480px) {
.flex {display: flex;}
{border: 1px solid red;}


body {margin: 0px;
padding: 0px;
width: 480px;
}



/* --------------------header mobile----------- */ 
.contenedor-header {
  width: 480px;
  justify-content: space-between;
  align-items: center;
  height:70px; 
}

.hamburguesa {display:inline-block;}

.contenedor-header img {width: 480px;
  height: 70%;
  margin: 0px;
  }

/* --------mobile dentro de header el nav---------- */ 
  
.logo-azul {
  width: 73px;
  height: 25px;
  left: 0px;
  top: 74.5px;
  }

.lista {display: none;  
  justify-content: center;
  margin: 20 20px; 
  color: #242E52; 
  text-decoration: none;
  font-size: 1rem;
  align-items: center;
  
}

.lista a {text-decoration-line: none;
  padding-left: 15px;
}

.button1 {
display: none;  
flex-direction: row;
justify-content: center;
align-items: flex-end;
padding: 10px;
width: 140px;
height: 44px;
background: #8B48BF;
box-shadow: 0px 4px 7px rgb(248, 246, 246);
border-radius: 50px;
border: none;
color: #FFFFFF;
}

/* -----------mobile Toda la caja donde esta el jugador amarillo grande -----------------------------------*/ 
.cajajugador{
  flex-direction: column;
  width: 480px;
  margin: 0px;
  padding-top: 90px;
   }

        
    
#foto {
      display: flex;
      width: 30%;
      height: auto;
    }

.amarillo {
      height: auto;
      flex-direction: column;
      align-items: flex-end;
      width: 10%;
      border: #242E53;
      padding-right:0 px;
      }


 .jugador-amarillo {
  width: 480px;
  padding-left: 0px;
  }

.amarillo {  
width: 480px;
flex-direction: column;
align-items: flex-end;
width: 80%;
border: #242E53;
padding-right: 0px;
}

.h1amarillo {width: 480px; 
  font-family: 'Be Vietnam';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 114.6%;     
  text-align: right;
  letter-spacing: -0.035em;  
  color: #232C50;
 }


.pamarillo {width: 450px;
    height: 71px;    
    font-family: 'Be Vietnam';
    font-style: normal;
    font-weight: 500;
    font-size: 16.5584px;
    line-height: 157.1%;     
    display: flex;
    align-items: center;
    text-align: right;    
    color: #000000;
    padding-left: 100px;}

    .buttonmob {
      display: none;
      flex-direction: row;
      justify-content: center;
      align-items: flex-end;
      padding: 10px;
      width: 140px;
      height: 44px;
      background: #8B48BF;
      box-shadow: 0px 4px 7px rgb(248, 246, 246);
      border-radius: 50px;
      border: none;
      color: #FFFFFF;
      }
    
/* ---------------------------mobile parte de whats ----------------------------------------------------------------------*/ 
.whats {flex-direction: column; 
  width: 480px;
  flex-direction: ro;
  align-items: cent;
  padding: 0px 0px; 
  background: #3CDDF3;
  margin-top: 0px;
  margin-bottom: 0px;

}

.h3whats {
  justify-content: cente;
  align-items: flex-end;
  font-size: 36px;
  color: #FFFFFF;
  width: 70%;
  padding-left: 0px;
  padding-right: 23%;
}

.pwhats {
  font-size: 16px;
  align-items: flex-end;
  color: #FFFFFF;  
  width: 90%;
  padding-left: 0px;
  padding-right:10px;
  padding-bottom: 30px;
}


  /*---------------------------- mobile card de jugadores 01 02 03 ----------------------------------------------------*/ 

.id {}

.section1 {
  width: 480px;
  align-items: flex-end;
  flex-direction: column;
  padding-top: 60px;
  padding-bottom: 20px;
  padding-left: 0px;
  padding-right: 0px;
  align-self:center;
  ;

}

.section2 {
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 0px;
  padding-right: 0px;
  align-self: center;
}

.spannumero {
  width: 100%;
  height: 43px;
  background:rgba(139, 72, 191, 0.3);
  border-radius: 50px 0px 0px 50px; ;
  font-size: 16px;
  color: #323851;
  padding-left: 0px;
  font-weight: 700;  
}


 .numero {
  padding-left: 150px;
  padding-right: 150px;   
  padding: 0px;
  width: 69px;
  height: 44px;
  background: #8B48BF;  
  border-radius: 50px;
  color: #fffffF;
  border: none;
  color: #ffffff;
  font-size: 13px;
  margin-right: 5px; }

.jjj {background:rgba(139, 72, 191, 0.3);
  border-radius: 50px 0px 0px 50px; 
 
}

  
  .pdescripcion { 
    top: 160px;
    padding-left: 90px;
    padding-right: 16px;
    color: #B9B9C1;
   }

   .articlecard {
    flex-direction: column;
   }
   


    /*--------------------  mobile card de jugadores                           ------------------*/ 

    .h2card {
      padding-top: 100px;
      font-family: 'Be Vietnam';
      font-style: normal;
      font-weight: 700;
      font-size: 39.2143px;
      line-height: 156.6%;
      align-items: center;
      text-align: center;
      color: #242E53;

      }
.jugadorquitado {display: none;}

.posiciondecar {position: static;}

.img {
  border-radius: 100px;
position: relative;
top: -10px;
 }

 #foto {
  display: flex;
  width:80%;
  height: auto;
}
.divcard {
    text-align: center;
    font-family: 'Be Vietnam';
    font-style: normal;
    font-weight: 700;
    font-size: 16.0714px;
    line-height: 156.6%;
    color: #3F4868;
    margin: 10px 10px;}


.cadajugador {
  display: none;
 margin: 20px; 
 text-align: center;
}
.cadajugador2 {
  margin: 20px; 
  text-align: center;
 }

.pclascard {
  color: #B9B9C1;
  font-family: 'Be Vietnam';
  font-style: normal;
  text-align: center;
  padding-left: 42px;
  padding-right: 42px;
}

.spancard {
font-family: 'Be Vietnam';
font-style: normal;
font-weight: 700;
font-size: 16.0714px;
line-height: 156.6%;
color: #3F4868;
margin: 10px 10px;
}

.button2 {  
  padding: 10px;
  width: 150px;
  height: 44px;
  background: rgba(139, 72, 191, 0.7);
  box-shadow: 0px 4px 7px rgb(248, 246, 246);
  border-radius: 50px;
  color: #FFFFFF;
  border: none;
   }
   
.divbutton {
  justify-content: center; 
  padding-top: 50px;
  padding-bottom: 100px;
   }


   /*--------------------  mobile get violeta antes de footer        ------------------*/ 

   .divfoot {
    flex-direction: column;
   justify-content: space-around;
    width: 100%;  
    padding-left: ;   
    padding: 40px 0px; 
    background: #3CDDF3;
    margin-top: 10px;
   
  }

  .h2foot { 
   align-items: center;
   font-size: 36px;
   color: #FFFFFF;
   width: 50%;
   padding-left: 0px;
   padding-right: 0px;
    }

.buttonfoot {     
  padding: 10px;
  width: 134px;
  height: 44px;
  background: #232C50;  
  border-radius: 50px;
  color: #FFFFFF;
  border-color: none;}



  
/*-------------------- mobile  footer        ------------------*/ 

.footer {flex-direction: column-reverse;
  background: #1E1E26;
  justify-content: space-between;
align-items: center;
padding-left: 150px;
padding-right: 150px;
padding-top: 30px; 

}

.a {text-decoration: none;
color: #ffffff;
font-size: 16px;
padding-top: 7px;
padding-bottom: 7px;
}



.logo {  
  text-align: center;
  }

.logofooter {align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 20px;
}




  .redes {flex-direction: center;     
    padding-top: 80px;
    padding-bottom: 50px;  
    list-style-type: none;
    padding-left: 40px ;
    padding-right: 40px;
    width: 120px;

  }
  
.redes2 {
  padding-top: 40px;
  padding-bottom: 70px;
    list-style-type: none;
}

.redes3 {
  padding-left: 5px;
  padding-right: 5px;  
}


.buttonfooter {    
  padding: 0px;
  width: 60px;
  height: 44px;
  background: #8B48BF;  
  border-radius: 50px;
  color: #fffffF;
  border-color: #8B48BF;
  color: #ffffff;
  font-size: 13px;   
}


.placeholder {
  padding left: 0px; 
  font-size: 13.18px;
  border-radius: 50px; 
}


.section1 {display: flex;}

.saparado {padding-left: 10;}

.input { justify-content: flex-end; 
  border-radius: 50px;
  width: 201px;
  height: 30px;}

.copy {  
  width: 100%;
  bottom: 0px;  
  align-items:;
  padding-top: 40px;
  padding-bottom: 20px;
  color: #8C8C94; 
  font-size: 10px;
  background: #1E1E26;
}
.input {

}
}